# NAME : Ritvik Khandelwal
# SAP ID : 60002180081
# CLASS : TE EXTC 2

# Pandas

In [5]:
import numpy as np
import pandas as pd
import random

In [7]:
s=pd.Series(np.random.randn(4),index=['a','b','c','d'])
s

a    0.613770
b    0.196108
c    0.367102
d   -1.951020
dtype: float64

In [8]:
d={'b':1,'a':0,'c':2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [ ]:
dates=pd.date_range('2000')

In [2]:
dates=pd.date_range('20200101',periods = 5)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df=pd.DataFrame(np.random.randn(5,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2020-01-01 -2.897684 -0.135920 -0.508062  0.435719
2020-01-02  0.750960 -0.605376  0.347673  1.230352
2020-01-03  2.578904 -0.265447  1.419639 -1.642515
2020-01-04  1.476936 -0.916076 -0.046541 -0.253690
2020-01-05  0.938697  2.250651 -0.233203  0.127649

In [10]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
df.describe()

              A         B         C         D
count  5.000000  5.000000  5.000000  5.000000
mean   0.569562  0.065566  0.195901 -0.020497
std    2.064688  1.258824  0.751506  1.058304
min   -2.897684 -0.916076 -0.508062 -1.642515
25%    0.750960 -0.605376 -0.233203 -0.253690
50%    0.938697 -0.265447 -0.046541  0.127649
75%    1.476936 -0.135920  0.347673  0.435719
max    2.578904  2.250651  1.419639  1.230352

In [14]:
df.T #transpose

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05
A   -2.897684    0.750960    2.578904    1.476936    0.938697
B   -0.135920   -0.605376   -0.265447   -0.916076    2.250651
C   -0.508062    0.347673    1.419639   -0.046541   -0.233203
D    0.435719    1.230352   -1.642515   -0.253690    0.127649

In [15]:
#sorting by index
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-01-01  0.435719 -0.508062 -0.135920 -2.897684
2020-01-02  1.230352  0.347673 -0.605376  0.750960
2020-01-03 -1.642515  1.419639 -0.265447  2.578904
2020-01-04 -0.253690 -0.046541 -0.916076  1.476936
2020-01-05  0.127649 -0.233203  2.250651  0.938697

In [16]:
df.sort_values(by='B')

                   A         B         C         D
2020-01-04  1.476936 -0.916076 -0.046541 -0.253690
2020-01-02  0.750960 -0.605376  0.347673  1.230352
2020-01-03  2.578904 -0.265447  1.419639 -1.642515
2020-01-01 -2.897684 -0.135920 -0.508062  0.435719
2020-01-05  0.938697  2.250651 -0.233203  0.127649

In [17]:
df['A']

2020-01-01   -2.897684
2020-01-02    0.750960
2020-01-03    2.578904
2020-01-04    1.476936
2020-01-05    0.938697
Freq: D, Name: A, dtype: float64

In [18]:
df[0:2]

                   A         B         C         D
2020-01-01 -2.897684 -0.135920 -0.508062  0.435719
2020-01-02  0.750960 -0.605376  0.347673  1.230352

In [20]:
df.loc[:,['A','B','C']]

                   A         B         C
2020-01-01 -2.897684 -0.135920 -0.508062
2020-01-02  0.750960 -0.605376  0.347673
2020-01-03  2.578904 -0.265447  1.419639
2020-01-04  1.476936 -0.916076 -0.046541
2020-01-05  0.938697  2.250651 -0.233203

In [27]:
df.loc[:,['A','B','C']]

                   A         B         C
2020-01-01 -2.897684 -0.135920 -0.508062
2020-01-02  0.750960 -0.605376  0.347673
2020-01-03  2.578904 -0.265447  1.419639
2020-01-04  1.476936 -0.916076 -0.046541
2020-01-05  0.938697  2.250651 -0.233203

In [28]:
df.iloc[0]

A   -2.897684
B   -0.135920
C   -0.508062
D    0.435719
Name: 2020-01-01 00:00:00, dtype: float64

In [29]:
df.iloc[3:5,0:2]

                   A         B
2020-01-04  1.476936 -0.916076
2020-01-05  0.938697  2.250651

In [30]:
df.iloc[1:3,1:3]

                   B         C
2020-01-02 -0.605376  0.347673
2020-01-03 -0.265447  1.419639

In [31]:
df.iloc[:,1:3]

                   B         C
2020-01-01 -0.135920 -0.508062
2020-01-02 -0.605376  0.347673
2020-01-03 -0.265447  1.419639
2020-01-04 -0.916076 -0.046541
2020-01-05  2.250651 -0.233203

In [34]:
df.mean(1)

2020-01-01   -0.776487
2020-01-02    0.430902
2020-01-03    0.522645
2020-01-04    0.065157
2020-01-05    0.770948
Freq: D, dtype: float64

In [36]:
df=pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [37]:
df.shape

(768, 9)

In [38]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [39]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [41]:
x=df.iloc[3,:]
x

Pregnancies                  1.000
Glucose                     89.000
BloodPressure               66.000
SkinThickness               23.000
Insulin                     94.000
BMI                         28.100
DiabetesPedigreeFunction     0.167
Age                         21.000
Outcome                      0.000
Name: 3, dtype: float64

In [42]:
x=df.iloc[1:4,:]
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0

In [43]:
print(pd.isnull(df.BMI).sum())
print(pd.notnull(df.BMI).sum())

0
768

In [44]:
df.loc[10:15]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1

In [46]:
df.iloc[1:7,2:15]

,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,66,29,0,26.6,0.351,31,0
2,64,0,0,23.3,0.672,32,1
3,66,23,94,28.1,0.167,21,0
4,40,35,168,43.1,2.288,33,1
5,74,0,0,25.6,0.201,30,0
6,50,32,88,31.0,0.248,26,1

In [47]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [48]:
df['Outcome'].unique()

array([1, 0], dtype=int64)