In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('heart.csv')
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [2]:
df['sex1'] = df.sex.replace({1: 'Male', 0: 'Female'})

In [3]:
dx = df[['target', 'sex1']].dropna()
dx

      target    sex1
0          0    Male
1          0    Male
2          0    Male
3          0    Male
4          0  Female
...      ...     ...
1020       1    Male
1021       0    Male
1022       0    Male
1023       1  Female
1024       0    Male

[1025 rows x 2 columns]

In [4]:
pd.crosstab(dx.target, dx.sex1)

sex1    Female  Male
target
0           86   413
1          226   300

In [5]:
# Probability/proportion of population of females having heart disease / Best estimate
p_fm = 226/(86+226)
print(p_fm)

# Total size of the female population
n_fm = 226+86

# Calculated standard error:
se_fm = np.sqrt(p_fm * (1 - p_fm) / n_fm)
print(se_fm)

z_score = 1.96
lcb = p_fm - z_score*se_fm # lower limit of the CI
ucb = p_fm + z_score*se_fm #upper
print(lcb, ucb)

0.7243589743589743
0.02529714756803247
0.6747765651256307 0.773941383592318

In [6]:
# Probability/proportion of population of females having heart disease / Best estimate
p_m = 300/(413+300)
print(p_m)

# Total size of the female population
n_m = 413+300

# Calculated standard error:
se_m = np.sqrt(p_m * (1 - p_m) / n_m)
print(se_m)

z_score = 1.96
lcb = p_m - z_score*se_m # lower limit of the CI
ucb = p_m + z_score*se_m #upper
print(lcb, ucb)

0.42075736325385693
0.018488486410836908
0.3845199298886166 0.45699479661909725

In [8]:
# Direct command:
#import statsmodels.api as sm 
#sm.stats.proportion_confint(n_m*p_m, n_m)

In [11]:
se_diff = np.sqrt(se_fm**2 + se_m**2)
print(se_diff)

0.03133320610538462

In [12]:
d = p_fm - p_m
lcb = d - 1.96*se_diff
ucb = d + 1.96*se_diff
print(lcb, ucb)

0.24218852713856356 0.3650146950716713

The null hypothesis was "the population proportion of males and females with heart disease is equal". We accept it or reject it on the basis of the value 0 coming in the confidence interval.
In the above range, 0 is not included, so we can't make any conclusion that the population proportion of males and females are equal. If, say the Confidence Interval of both the females and the males was to -0.45 to 0.56, so we could say that they are equal.

In [15]:
# Mean cholestrol level of female population
z = df.groupby('sex1').agg({'chol': [np.mean, np.std, np.size]})
z

              chol
              mean        std size
sex1
Female  261.455128  64.466781  312
Male    239.237027  43.155535  713

In [16]:
mean_fm = 261.455128
std_fm = 64.466781
size_fm = 312
z_factor = 1.96

se_fm = std_fm/np.sqrt(size_fm)
print(se_fm)

lcb = mean_fm - z_factor*se_fm
ucb = mean_fm + z_factor*se_fm
print(lcb, ucb)

3.649712779576458
254.30169095203016 268.6085650479699

In [17]:
mean_m = 239.237027
std_m = 43.155535
size_m = 713
z_factor = 1.96

se_m = std_m/np.sqrt(size_m)
print(se_m)

lcb = mean_m - z_factor*se_m
ucb = mean_m + z_factor*se_m
print(lcb, ucb)

1.6161874870133217
236.0692995254539 242.4047544745461

In [21]:
mean_diff = mean_fm - mean_m
se_diff = (np.sqrt((size_fm-1) * se_fm**2 + (size_m-1) * se_m**2)/(size_fm+size_m-2)) * (np.sqrt(1/size_fm + 1/size_m))
lcb_diff = mean_diff - z_factor*se_diff
ucb_diff = mean_diff + z_factor*se_diff
print(lcb_diff, ucb_diff)

22.20802509671433 22.22817690328565